.lead__img-container {
  max-width: 984px;
  margin: 64px auto;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lead__img-container {
    max-width: 100%;
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__img-container {
    margin: 26px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__img-container {
    margin-top: 0;
  }
}
