.places {
  max-width: calc(100% - 148px * 2);
  margin: 92px auto 0;
}

@media screen and (max-width: 1190px) and (min-width: 808px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 807px) and (min-width: 769px) {
  .places {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .places {
    max-width: calc(100% - 24px * 2);
    margin: 95px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    margin-top: 64px;
  }
}
