.cover__subtitle {
  max-width: 360px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 185px auto 0;
  z-index: 2;
  position: absolute;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cover__subtitle {
    margin-top: 186px;
  }
}

@media screen and (max-width: 768px) and (min-width: 599px) {
  .cover__subtitle {
    margin-top: 184px;
  }
}

@media screen and (max-width: 598px) and (min-width: 321px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 184px;
    max-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 84px auto 0;
  }
}
