.cover__subtitle {
  max-width: 360px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 0;
  position: relative;
}

@media screen and (max-width: 640px) and (min-width: 321px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 2px;
  }
}
