.footer__content_copyright {
  max-width: 186px;
  color: #ffffff;
  font-family: "Inter";
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
  text-align: end;
  text-decoration: none;
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__content_copyright {
    font-size: 14px;
    line-height: 14px;
    max-width: 186px;
    padding-top: 46px;
  }
}
