.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 19px;
  padding-left: 0;
  list-style-type: none;
}

@media screen and (max-width: 691px) and (min-width: 321px) {
  .footer__links {
    grid-template-columns: 186px;
    grid-template-rows: repeat(5, 24px);
    row-gap: 4px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    grid-template-columns: 186px;
    grid-template-rows: repeat(5, 24px);
    row-gap: 32px;
    margin-left: 16px;
  }
}
