.lead__text {
  max-width: 160px;
  color: #ffffff;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 14px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__text {
    padding: 0;
    margin: 5px 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__text {
    margin-right: 16px;
    margin-left: 16px;
  }
}
