.intro__text {
  max-width: 690px;
  color: #ffffff;
  margin-top: 40px;
  padding: 0;
  margin-left: 0;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  font-style: normal;
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  .intro__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro__text {
    max-width: 100%;
    margin-top: 37px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin: 39px 0 22px 0;
  }
}
