.intro {
  max-width: 1085px;
  margin: 93px 96px 0;
  padding: 0 52px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro {
    max-width: 690px;
    margin: 93px 259px 74px 48px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro {
    max-width: calc(100% - 2 * 24px);
    margin: 89px auto 48px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 0 auto;
    padding: 0;
  }
}
