.intro {
  max-width: 1085px;
  margin: 93px 148px 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro {
    max-width: 690px;
    margin-right: 259px;
    margin-bottom: 74px;
    margin-left: 48px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro {
    max-width: calc(100% - 2 * 24px);
    margin: 88px auto 15px;
    padding: 1px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
  }
}
