.cover__title {
  max-width: 560px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  line-height: 76px;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  margin: 0 auto 96px;
  z-index: 2;
  position: absolute;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cover__title {
    margin-bottom: 97px;
  }
}

@media screen and (max-width: 768px) and (min-width: 507px) {
  .cover__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 506px) and (min-width: 370px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 369px) and (min-width: 321px) {
  .cover__title {
    font-size: 37px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto 62px;
    font-size: 32px;
    line-height: 35px;
  }
}
