.cover__title {
  max-width: 560px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  line-height: 76px;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  margin: 0px auto 33px;
  position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cover__title {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
  .cover__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 640px) and (min-width: 370px) {
  .cover__title {
    font-size: 40px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 369px) and (min-width: 321px) {
  .cover__title {
    font-size: 37px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 35px;
  }
}
