.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1px 48px 6px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .footer {
    max-width: 928px;
    padding: 2px 0 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 692px) {
  .footer {
    max-width: calc(100% - 2 * 24px);
    padding: 0 0 7px;
    margin-top: 71px;
  }
}

@media screen and (max-width: 691px) and (min-width: 321px) {
  .footer {
    max-width: 186px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    flex-direction: column;
    margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    flex-direction: column;
    margin-top: 48px;
  }
}
