.lead__illustration {
  max-width: 100%;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  .lead__illustration {
    width: 100%;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__illustration {
    width: 100%;
    margin: 26px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__illustration {
    width: 100%;
    margin-top: 0;
  }
}
