.intro__title {
  max-width: 690px;
  color: #ffffff;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 58px;
  font-weight: 900;
  font-size: 54px;
  text-align: left;
  padding-left: 0;
}

/*@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro__title {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}*/

@media screen and (max-width: 467px) and (min-width: 321px) {
  .intro__title {
    max-width: 720px;
    margin: 28px 24px 39px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    margin-top: 64px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 35px;
  }
}
